__pycache__/
*.pyc
.pytest_cache/
.env
.env.*
!.env.example
venv/
.venv/
.git/
tests/
.DS_Store
Day08_RAG_pipeline_cohort2/.git/
Day08_RAG_pipeline_cohort2/.pytest_cache/
Day08_RAG_pipeline_cohort2/.env
Day08_RAG_pipeline_cohort2/.env.*
Day08_RAG_pipeline_cohort2/tests/
Day08_RAG_pipeline_cohort2/group_project/
Day08_RAG_pipeline_cohort2/web/
